@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
}

@keyframes slideLoop {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

:root {
  --font-inter: "Inter", sans-serif;
  --font-jockey: "Jockey One", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --main-color: #adff00;
  --eill-color: #4be55a85;
  --white-color: #fff;
  --black-color: #000;
  --background-color: #141414;
  --gray-color: #4e4e4e;
}

.container {
  padding: 25px 80px;

  @media (max-width: 768px) {
    padding: 20px 50px;
  }

  @media (max-width: 425px) {
    padding: 15px 20px;
  }
  @media (max-width: 360px) {
    padding: 10px 10px;
  }
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  padding: 7px 16px;
}

.buttons-container {
  display: flex;
  font-family: var(--font-poppins);
  gap: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;

  .second-btn {
    border: var(--white-color) 2px solid;
    color: var(--white-color);
    &:hover {
      box-shadow: 0 0 10px var(--main-color);
      color: var(--main-color);
      border-color: var(--main-color);
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }
  }
  .first-btn {
    background-color: var(--main-color);
    font-family: var(--font-poppins);
    color: var(--black-color);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

    &:hover {
      box-shadow: 0 0 10px var(--main-color);
      background-color: transparent;
      border: solid 2px var(--main-color);
      color: var(--main-color);
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }
  }
}

.cards {
  margin-block: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: space-evenly;
  .card {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    padding: 40px 35px;
    background-color: var(--background-color);
    max-width: 350px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    .card-logo {
      animation: rotate 2s linear infinite;
      -webkit-animation: rotate 2s linear infinite;
    }
    &:hover {
      transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      .card-logo {
        animation-play-state: paused;
      }
    }

    h3 {
      font-family: var(--font-inter);
      font-size: 1.2em;
      text-transform: capitalize;
    }

    p {
      margin-top: 8px;
      line-height: 1.8;
      font-style: italic;
    }
    &:nth-child(2) {
      background-color: var(--main-color);
      h3,
      p {
        color: var(--black-color);
      }
    }
  }
}

.logo {
  font-family: var(--font-jockey);
  font-size: 30px;
}

p {
  font-family: var(--font-poppins);
  line-height: 1.8;
  color: #ababab;
}

h2 {
  font-family: var(--font-inter);
  font-size: 2.5em;
  line-height: 1.8;

  @media (max-width: 768px) {
    font-size: 2em;
  }
  @media (max-width: 420px) {
    font-size: 1.5em;
  }
}

ul {
  font-family: var(--font-poppins);
  list-style: none;
  text-transform: capitalize;
}

a {
  color: var(--white-color);
  text-decoration: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  &:hover {
    color: var(--main-color);
  }
}

.head-section {
  text-align: center;
}

.fade-up {
  opacity: 0;
  transform: scale(1.1);
  transition: all 2s ease-out;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 2s ease-out;
  -ms-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  &.visible {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

.eill1 {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  right: 0;
  top: 100px;
  background: var(--eill-color);
  filter: blur(240px);
  -webkit-filter: blur(240px);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  z-index: -1;
}

.eill2 {
  position: absolute;
  width: 150px;
  height: 350px;
  border-radius: 50%;
  top: 400px;
  background: var(--eill-color);
  filter: blur(240px);
  -webkit-filter: blur(240px);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  z-index: -1;
}

.eill3 {
  position: absolute;
  width: 429px;
  height: 429px;
  border-radius: 50%;
  right: 0;
  top: -100px;
  background: var(--eill-color);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  filter: blur(240px);
  -webkit-filter: blur(240px);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  z-index: -1;
  -o-transform: rotate(180deg);
}

.eill4 {
  position: absolute;
  width: 523px;
  height: 522px;
  left: -261.5px;
  top: 0;
  background: var(--eill-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  filter: blur(336px);
  transform: rotate(180deg);
  -webkit-filter: blur(336px);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  z-index: -1;
}

.eill5 {
  position: absolute;
  z-index: -1;
  width: 380px;
  height: 380px;
  right: 200px;
  top: 0;
  border-radius: 50%;
  background: var(--eill-color);
  filter: blur(240px);
  -webkit-filter: blur(240px);
  transform: matrix(1, 0, 0, -1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
  -moz-transform: matrix(1, 0, 0, -1, 0, 0);
  -ms-transform: matrix(1, 0, 0, -1, 0, 0);
  -o-transform: matrix(1, 0, 0, -1, 0, 0);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.eill6 {
  position: absolute;
  z-index: -1;
  width: 550px;
  height: 550px;
  right: 0;
  bottom: -140px;
  background: var(--eill-color);
  border-radius: 50%;
  filter: blur(336px);
  -webkit-filter: blur(336px);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
