* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-inter: "Inter", sans-serif;
  --font-jockey: "Jockey One", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --main-color: #adff00;
  --ellis-color: #4be55a85;
  --white-color: #fff;
  --black-color: #000;
}

.container {
  padding: 30px 75px;
}

.buttons-container {
  display: flex;
  font-family: var(--font-poppins);
  gap: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;

  div {
    cursor: pointer;
    padding: 14px 32px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    &:first-child {
      border: var(--white-color) 2px solid;
      &:hover {
        color: var(--main-color);
        border-color: var(--main-color);
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
      }
    }
    &:nth-child(2) {
      background-color: var(--main-color);
      font-family: var(--font-poppins);
      color: var(--black-color);
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;

      &:hover {
        background-color: transparent;
        color: var(--main-color);
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
      }
    }
  }
}

p {
  font-family: var(--font-poppins);
  font-size: 18px;
  line-height: 27px;
  color: #ababab;
}

h2 {
  font-family: var(--font-inter);
  font-size: 42px;
  line-height: 54.6px;
}

ul {
  font-family: var(--font-poppins);
  list-style: none;
  text-transform: capitalize;
}

.eill1 {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  right: 0;
  top: 100px;
  background: var(--ellis-color);
  filter: blur(240px);
  -webkit-filter: blur(240px);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  z-index: -1;
}

.eill2 {
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  top: 400px;
  background: var(--ellis-color);
  filter: blur(240px);
  -webkit-filter: blur(240px);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  z-index: -1;
}
