@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
}

@keyframes slideLoop {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

body {
  background-color: var(--black-color);
  color: var(--white-color);

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;

    @media (max-width: 920px) {
      flex-direction: column;
      gap: 10px;
    }

    .logo {
      font-family: var(--font-jockey);
      font-size: 22px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 32px;
      @media (max-width: 768px) {
        gap: 12px;
      }

      li {
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        &:hover {
          color: var(--main-color);
        }
      }
    }
  }

  main {
    text-align: center;
    padding-top: 70px;

    h1 {
      justify-self: center;
      width: 80%;
      font-family: var(--font-inter);
      font-size: 72px;
      margin-block: 72px;
      opacity: 0;
      animation: fadeUp 1s ease-out forwards;
      -webkit-animation: fadeUp 1s ease-out forwards;

      @media (max-width: 920px) {
        width: 100%;
        font-size: 40px;
      }

      @media (max-width: 768px) {
        font-size: 35px;
      }

      @media (max-width: 425px) {
        font-size: 25px;
      }
    }
    p {
      justify-self: center;
      width: 80%;
      animation: bounce 1s infinite;
      -webkit-animation: bounce 1s infinite;
      @media (max-width: 920px) {
        width: 100%;
      }
    }

    .buttons-container {
      margin-top: 30px;
      justify-content: center;
    }
  }

  .product-img {
    text-align: center;
    img {
      width: 90%;
      filter: grayscale(100%);
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transform: scale(0.9);
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9);
      &:hover {
        filter: grayscale(0%);
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-filter: grayscale(0%);
      }
    }
  }

  .sponsors-wrapper {
    background-color: var(--background-color);
    overflow: hidden;
    width: 100%;
    .sponsors {
      display: flex;
      gap: calc(100% / 10);
      animation: slideLoop 4s linear infinite;
      -webkit-animation: slideLoop 4s linear infinite;
      img {
        transition: transform 0.3s ease;
        -webkit-transition: transform 0.3s ease;
        -moz-transition: transform 0.3s ease;
        -ms-transition: transform 0.3s ease;
        -o-transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.4);
          -webkit-transform: scale(1.4);
          -moz-transform: scale(1.4);
          -ms-transform: scale(1.4);
          -o-transform: scale(1.4);
        }
      }
    }
  }

  .features {
    text-align: center;
    h2 {
      margin-top: 100px;
    }
  }

  .solutions {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .text {
      width: 50%;
      @media (max-width: 768px) {
        width: 100%;
        text-align: center;
      }
      .buttons-container {
        justify-content: center;
      }
    }

    p {
      margin-top: 24px;
    }
    .btn {
      margin-top: 48px;
    }
    .task {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .price {
    position: relative;

    .card {
      &:nth-child(2) {
        background-color: var(--main-color);
        h3,
        h3:after,
        p,
        & {
          .adv {
            color: var(--black-color);
          }

          .btn {
            background-color: var(--black-color);
            &:hover {
              background-color: var(--gray-color);
              color: var(--white-color);
            }
          }
        }
      }

      h3 {
        font-family: var(--font-inter);
        position: relative;
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 30px;
        &::after {
          content: "";
          width: 20px;
          height: 2px;
          position: absolute;
          top: 35px;
          left: 0;
          background-color: var(--gray-color);
        }
      }
      &:nth-child(3) h3::after {
        background-color: var(--main-color);
      }
      .adv {
        margin-top: 10px;
        h5 {
          display: flex;
          align-items: center;
          gap: 10px;
          font-family: var(--font-poppins);
          font-size: 16px;
          line-height: 24px;
        }
      }
      .btn {
        font-family: var(--font-poppins);
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        margin-top: 80px;
        border: solid var(--gray-color) 2px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        &:hover {
          background-color: var(--main-color);
          color: var(--black-color);
        }
      }
    }
  }
}
