* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: var(--black-color); */
  background: linear-gradient(145deg, #000, var(--background-color));
  color: var(--white-color);
  font-size: 17px;

  @media (max-width: 768px) {
    font-size: 15px;
  }

  @media (max-width: 425px) {
    font-size: 13px;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #14141480;
  backdrop-filter: blur(90px);

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;

    @media (max-width: 768px) {
      gap: 12px;
    }
  }
}

main {
  h1 {
    width: 90%;
    padding-block: 80px;
    font-size: 4em;
    justify-self: center;
    font-family: var(--font-inter);
    animation: fadeUp 1s ease-out forwards;
    -webkit-animation: fadeUp 1s ease-out forwards;
    @media (max-width: 768px) {
      font-size: 3em;
    }

    @media (max-width: 425px) {
      font-size: 2.5em;
    }
    @media (max-width: 360px) {
      font-size: 2em;
    }
  }

  p {
    justify-self: center;
    width: 90%;
    line-height: 1.8;
    animation: bounce 1s infinite;
    -webkit-animation: bounce 1s infinite;
  }

  .buttons-container {
    margin-top: 30px;
    justify-content: center;
  }
}

.product-img {
  text-align: center;
  img {
    width: 90%;
    filter: grayscale(100%);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    &:hover {
      filter: grayscale(0%);
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      -webkit-filter: grayscale(0%);
    }
  }
}

.sponsors-wrapper {
  background-color: var(--background-color);
  overflow: hidden;
  .sponsors {
    display: flex;
    gap: calc(100% / 10);
    animation: slideLoop 4s linear infinite;
    -webkit-animation: slideLoop 4s linear infinite;

    img {
      transition: transform 0.3s ease;
      -webkit-transition: transform 0.3s ease;
      -moz-transition: transform 0.3s ease;
      -ms-transition: transform 0.3s ease;
      -o-transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
      }
    }
  }
}

.solutions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  .head-section {
    width: 50%;
    text-align: left;

    @media (max-width: 768px) {
      width: 100%;
      text-align: center;
      .buttons-container {
        justify-content: center;
      }
    }
  }

  p {
    margin-top: 1.2em;
    line-height: 1.8;
  }

  .first-btn {
    margin-top: 1.4em;
  }

  .task {
    width: 40%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.price {
  position: relative;
  .card {
    button {
      font-family: var(--font-poppins);
      width: 100%;
      font-weight: bold;
      border: solid 2px var(--gray-color);
      color: var(--white-color);
      padding: 10px 20px;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      &:hover {
        background-color: var(--black-color);
      }
    }
    &:nth-child(2) {
      .adv {
        color: var(--black-color);
      }
      button {
        background-color: var(--black-color);
        &:hover {
          background-color: var(--gray-color);
          color: var(--white-color);
        }
      }
    }

    h3 {
      font-family: var(--font-inter);
      position: relative;
      margin-bottom: 30px;
      &::after {
        content: "";
        width: 20px;
        height: 2px;
        position: absolute;
        top: 35px;
        left: 0;
        background-color: var(--gray-color);
      }
    }
    &:nth-child(3) h3::after {
      background-color: var(--main-color);
    }
    .adv {
      margin-top: 10px;
      h5 {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: var(--font-poppins);
        font-size: 0.7em;
        line-height: 1.8;
      }
    }
  }
}

.free {
  .head-section {
    background-image: url(../assets/free.png);
    background-size: cover;
    height: 500px;
    position: relative;
    .text-container {
      margin: 20px;
      position: absolute;
      top: 50%;
      transform: translatey(-50%);
      -webkit-transform: translatey(-50%);
      -moz-transform: translatey(-50%);
      -ms-transform: translatey(-50%);
      -o-transform: translatey(-50%);

      @media (max-width: 768px) {
        text-align: center;
        .buttons-container {
          justify-content: center;
        }
      }
      p {
        margin-top: 16px;
        line-height: 1.8;
      }

      button {
        margin-top: 32px;
      }
    }
  }
}

footer {
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
    .about {
      width: 100%;
    }
  }

  .about {
    .text h2 {
      font-size: 1.2em;
      font-family: var(--font-jockey);
    }

    .follow {
      margin-block: 2em;
      text-align: center;
      .socails {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 14px;
        div {
          cursor: pointer;
        }
      }
    }
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    .group {
      text-align: center;
      @media (max-width: 768px) {
        width: 50%;
      }
      @media (max-width: 425px) {
        width: 100%;
      }
      ul {
        margin-top: 20px;
        li {
          color: var(--gray-color);
          cursor: pointer;
          text-transform: capitalize;
          margin-bottom: 20px;
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
          &:hover {
            color: var(--main-color);
          }
        }
      }
    }
    .follow h3,
    .group h3 {
      margin-top: 40px;
      font-family: var(--font-poppins);
      font-size: 1.3em;
      line-height: 1.8;
      text-transform: capitalize;
    }
  }
}

.copyright {
  text-align: center;
  margin-block: 20px;
}
