@keyframes fadeUp {
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
}

body {
  background-color: var(--black-color);
  color: var(--white-color);

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;

    @media (max-width: 920px) {
      flex-direction: column;
      gap: 10px;
    }

    .logo {
      font-family: var(--font-jockey);
      font-size: 22px;
    }

    ul {
      display: flex;
      gap: 32px;

      li {
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        &:hover {
          color: var(--main-color);
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
        }
      }
    }
  }

  main {
    text-align: center;
    padding-top: 70px;

    h1 {
      justify-self: center;
      width: 70%;
      font-family: var(--font-inter);
      font-size: 72px;
      margin-bottom: 72px;
      opacity: 0;
      animation: fadeUp 1s ease-out forwards;
      -webkit-animation: fadeUp 1s ease-out forwards;
      @media (max-width: 920px) {
        width: 90%;
        font-size: 50px;
      }
      @media (max-width: 768px) {
        font-size: 45px;
      }
    }
    p {
      width: 70%;
      justify-self: center;
      animation: bounce 1s infinite;
      -webkit-animation: bounce 1s infinite;
      @media (max-width: 500px) {
        width: 90%;
      }
    }

    .buttons-container {
      margin-top: 30px;
      justify-content: center;
    }
  }
}
